/*chat messages*/
.messages{
    list-style-type: none;
}

/*D3 graph*/
.chart{
    width: 1000;
    height: 600;
}
.axis-label {
	font-size: 15px;
	font-weight: bold;
}
circle, .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px; 
}
circle {
    fill: white;
    fill-opacity: 0.5;
    cursor: pointer; 
}
circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; 
}
rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 40px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
/* Chat box */
#chat{
    max-height: 400px;
    overflow: auto;
}

/* footer */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}